<a href="https://colab.research.google.com/github/genie2441/IOT-class/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=4

In [ ]:
print(a)

4

In [ ]:
a=[4,6,8,2,3]
for x in a :
  print(x)

4
6
8
2
3

In [ ]:
b=[ {'성': '김', '명': '규호', '성별':'남'}, {'성': '홍', '명': '길동', '성별':'남'}, {'성': '김', '명': '순이', '성별':'여'} ]

In [ ]:
for x in b:
  print(x)
  print(x['명'])

{'성': '김', '명': '규호', '성별': '남'}
규호
{'성': '홍', '명': '길동', '성별': '남'}
길동
{'성': '김', '명': '순이', '성별': '여'}
순이

In [ ]:
for k in b:
  for x in k:
    print(x)

성
명
성별
성
명
성별
성
명
성별

In [ ]:
for k in b:
  for x in k:
    print(x, ':', k[x])

성 : 김
명 : 규호
성별 : 남
성 : 홍
명 : 길동
성별 : 남
성 : 김
명 : 순이
성별 : 여

In [ ]:
for k in b:
  for x in k:
    if x=='명':
      print(x, ':', k[x])

명 : 규호
명 : 길동
명 : 순이

In [ ]:
a=1
b=2
c=a+b
c

3

In [ ]:
a=1
b='1'

In [ ]:
c=a+b
c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
c=a+int(b)
c

2

In [ ]:
c=str(a)+b
c

'11'

In [ ]:
a=[3,4]
b=[5,6]

In [ ]:
a+b

[3, 4, 5, 6]

In [ ]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
a={'a':4, 'b':7}
b={'k':6, 'q':1}

In [ ]:
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'